body{
    background-color: #f1f8ea;
}

header{
    background-color: #dfe6d8;
    color: rgb(86, 148, 119);
    display: flex;
}
header div{
    flex: 1;
    margin: 0 25px 0 25px;
}
nav{
    margin-top: 40px;
    display: flex;
}
nav ul{
    display: flex;
    list-style: none;
    max-width: 700px;
    margin: auto;
    text-decoration-style: none;
    
}
nav ul li a{
    margin: 0px 30px 50px 30px;
    text-decoration: none;
    color: rgb(0, 155, 103);
    font-weight: bold;
}
li a:hover{
    color: #07b7ce;
    font-size: 20px;
}

.left{
    margin: 20px 0 0 40%;
}

.centered-note{
    text-align: center;
}
