body{
    background-color: #f1f8ea;
    background-image: url(../images/bench-accounting-49025-unsplash.jpg);
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
}

/* html */
html{
    height: 100%;
}

/* header */
header{
    background-color: #dfe6d8;
    color: #66fc02;
    background-color: rgb(0,128,128);
    display: flex;
}

.back-pages{
    color: #555702;
    text-align: center;
    font-size: 20px;    
}
a:-webkit-any-link {
    color:  #ff397b;
    cursor: pointer;
    text-decoration: none;
}

header :hover{
    color: #ffffff;
}

header div{
    flex: 1;
    margin: 0 25px 0 25px;
}

a{
    text-decoration-style: none;
}

nav{
    margin-top: 40px;
    display: flex;
}

nav ul{
    display: flex;
    list-style: none;
    max-width: 700px;
    margin: auto;
    text-decoration-style: none;
    
}

/* licks link */

nav ul li a{
    text-decoration: none;
    font-weight: bold;
    font-size: 25px;
}

.left{
    margin-left: 40%;
    margin-top: 20px
}

.centered-note{
    text-align: center;
    border-radius: 50px;
    color: #228B22;
    font-weight: bold;
    font-weight:1500;
}

.container{
    padding:10px;
    max-width: 600px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #dfe6d8;
    opacity: 0.9;
}
.message{
    display:flex;
    justify-content: space-between;
    border-radius: 20px;
    background-color: white;
}
.message:hover{
    background-color: lightblue;
}

.form {
    padding: 5%;
    margin-bottom: 35px;
    margin-left: 33px;
}

.warning{
    color: rgb(185, 139, 11);
}
.label {
    font-weight: bold;
    text-align: left;
    color: #065f06;
    display: inline;
}

.label-block {
    display: block;
    padding-bottom: 5px;
}


.form 
.btn {
    margin: 2px auto 5px auto;
}

.form input,
.form select,
.form textarea {
    border: 1px solid #4e4a4a;
    border-radius: 3px;
    color: #4e4a4a;
    display: block;
    width: 93%;
    font-size: 16px;
}

.form input,
.form select {
    height: 24px;
}

.form-row{
    padding: 10px;
    width: 95%;
}
textarea {
   resize: none;
}
label{
    margin-bottom: 10px;
}
.form-row label{
    margin-bottom: 10px;
}

/* table */
table.gridtable {
        font-family: verdana, arial, sans-serif;
        font-size: 13px;
        color: #08851d;
        border-width: 1px;
        border-color: #0f0f0f;
        border-collapse: collapse;
    }

    table.gridtable th {
        text-transform: uppercase;
        border-style: solid;
        border-color: #666666;
        background-color: #dedede;
    }

    table.gridtable td {
        color:#000000 ;
        border-width: 1px;
        border-style: solid;
        border-color: #666666;
        background-color: #ffffff;
    }
    table.gridtable a {
      color: #000000;
    }
    table.gridtable a:hover {
        font-weight: bold;
        color:#2c0101;      
    }
.tbody{
    padding: 10px;
}

/* footer */
footer{
    margin-top: 20px;
    color:rgb(250, 250, 250);
    background-color: rgb(0,128,128);
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}
/* footer paragragh */
footer > p {
    margin-top: 20px;
}

/* larger screen */
@media screen and (min-width: 768px) {

    html{
        height:100%;
    }

    /* certered message */
    .centered-note{
        background-color: #dfe6d8;
        opacity: 0.75;
    }

    /* table head */
    table.gridtable th {
        padding: 10px;
        border-width: 3px;
        font-size: 18px;
        width: 10%;

    }
    /* table data */
    table.gridtable td {
        font-weight: 900;
    }
    
    .form .btn {
    margin: 2px auto auto 175px;
}
    
}
.btn {
    border-radius: 5px;
    color: rgb(131, 145, 5);
    background-color: #00606d;
    font-weight: bold;
    cursor: pointer;
    display: block;
    letter-spacing: .5px;
    margin: 0;
    text-transform: uppercase;
    padding: 11px 30px;
    margin-bottom: 22px;
    margin-right: 22px;
    font-size: 14px;
    font-family: 'Varela Round', sans-serif;
}

.btn:hover {
    background: rgb(0,128,128);
}
    
